.spinner {
	border-radius: 100%;
	-webkit-animation: sk-scaleout 1s infinite ease-in-out;
	animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}

@keyframes sk-scaleout {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 0;
	}
}
.animated-text {
	display: inline-block;
	animation: wave 1s linear infinite;
}

@keyframes wave {
	0% {
		transform: translateX(0) translateY(-5px);
	}
	25% {
		transform: translateX(5px) translateY(0);
	}
	50% {
		transform: translateX(0) translateY(5px);
	}
	75% {
		transform: translateX(-5px) translateY(0);
	}
	100% {
		transform: translateX(0) translateY(-5px);
	}
}
