@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
	font-size: 62.5%;
}

:root {
	--status-bar-height: 0px; /* default value */
}

body {
	font-family: 'Poppins', sans-serif;
	height: calc(100vh - var(--status-bar-height));
	&::-webkit-scrollbar {
		display: none;
	}
}

.view-height {
	height: calc(100vh - var(--status-bar-height));
}

.scroll::-webkit-scrollbar {
	display: none;
}
.scroll {
	::-webkit-scrollbar-track {
		background-color: transparent;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	::-webkit-scrollbar {
		display: none;
	}
	/* Firefox */
	::-moz-scrollbar-track {
		background-color: transparent;
	}
}
